{% extends "template.html" %}

{% block content %}


<style>
  h3 {
    color: #0E0B2B;
  }

  .login-box {
    background-color: #ffffff;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0 0 7px #ffffff;
    color: #0b102b;
  }
  input[type=text], input[type=password] {
      width: 40%;
      padding: 12px 20px;
  }

  input[type=submit] {
      width: 40%;
      padding: 8px 20px;
      margin: 8px 0;
      cursor: pointer;
  }

  input[type=submit]:hover {
      background-color: #01137c;
  }

  .margin-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .center {
  margin: auto;
  text-align: center;
  width: 60%;
  padding: 5px;
  }

  .center2 {
  margin: auto;
  width: 24%;
  padding: 5px;
}
.pt-20 {
  padding-top: 20px;
}
.mt-50 {
  margin-top: 50px;
}
.pb-20 {
  padding-bottom: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.user-error{
  text-align: center;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  color: red;
}

</style>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 mt-50">
        <div class="login-box pb-20">
          <h3 class="text-center pt-20 mb-20">Reset Your Password</h3>
          <div class="">
            <p class="text-center">Please provide your email address where we can send you the password reset link.</p>
            <div class="text-center">
              <form action="" method="post">
                {% csrf_token %}
                {% if form.email.errors %}
                  {{ form.email.errors }}
                {% endif %}
                    <p>{{ form.email }}</p>
                  <input type="submit" class="btn btn-primary"  value="Reset password">
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript">
  $(".menu-lines").click(function(){
    $(".line-1").toggleClass("transform");
    $(".line-2").toggleClass("transform");
    $(".line-3").toggleClass("transform");
    $(".mobile-nav-content").toggleClass("show");
  });
</script>
{% endblock %}
