<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="apple-touch-icon" sizes="180x180" href="{% static '/admin/favicon_io/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/admin/favicon_io/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/admin/favicon_io/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static '/admin/favicon_io/site.webmanifest' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static '/admin/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/admin/css/style.css' %}">

  <title>{% block title %}Basic Site Template{% endblock %}</title>
 <!-- <meta http-equiv="refresh" content="30" /> -->

</head>
<body>
  <div id="navigation">
    {% block navigation %}
      <div class="nav-container">
        <ul class="flex">
          <li>
            <a class="nav-link-txt" href="/">
              Home
            </a>
          </li>
          <li>
            <a class="nav-link-txt" href="{% url 'login' %}">
              Login
            </a>
          </li>
          <li>
            <a class="nav-link-txt" href="/signup">
              Sign up
            </a>
          </li>
          <li>
            <a class="nav-link-txt" href="/about">
              About us
            </a>
          </li>
        </ul>

      </div>
    {% endblock %}
  </div>

  <div id="content">
      {% block content %}
      {% endblock %}
  </div>

  <div id="footer" class="footer-fixed">
    <div class="footer-container">
      <ul class="flex">
        <li>UT ECE Senior Design Project</li>
        <li class="small-margin">|</li>
        <li>Team I16</li>
        <li class="small-margin">|</li>
        <li>Wireless Sleep Monitor</li>
      </ul>
    </div>
  </div>

</body>
</html>
