<!-- templates/about.html -->
{% extends 'template.html' %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}
<style>
  body {
       font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
       margin: 0;
     }

     html {
       box-sizing: border-box;
     }

     *, *:before, *:after {
       box-sizing: inherit;
     }
     h1 {font-size: 88px;}

     .column {
       float: left;
       width: 25%;
       margin-bottom: 16px;
       padding: 0 8px;
       text-align: center;
     }

     .column2 {
       float: left;
       width: 20%;
       margin-bottom: 16px;
       padding: 0 8px;
       text-align: center;
     }

     .column3 {
       float: left;
       width: 50%;
       margin-bottom: 16px;
       padding: 0 8px;
       text-align: center;
     }

     .card {
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
       padding: 10px;
       margin: 8px;
       float: none; /* Added */
       margin-bottom: 10px;
     }

     .about-section {
       padding: 20px;
       text-align: center;
       background-color: #0E0B2B;
       color: white;
     }


     .container {
       padding: 0 16px;
     }

     .container::after, .row::after {
       content: "";
       clear: both;
       display: table;
       margin: 0 auto;
     }

     img {
       border-radius: 5px 5px 0 0;
     }

     .marginauto {
        margin: 10px auto 20px;
        display: block;
     }

     .repo{
       margin-left: auto;
       margin-right: auto;
       width: 10%;
       padding-bottom: 75px;
     }

     .title {
       color: grey;
     }

     @media screen and (max-width: 650px) {
       .column {
         width: 100%;
         display: block;
       }
       .column2, .column3{
         width: 100%;
         padding-left: 15px;
         padding-right: 15px;
       }
     }
     .large-container {
       margin-left: 5%;
       margin-right: 5%;
     }
     h2{
       font-size: 48px;
     }
     .pt-50{
       padding-top: 50px;
     }
     .pt-100{
       padding-top: 100px;
     }
     .mb-30{
       margin-bottom: 30px;
     }
     .mt-100{
       margin-top: 100px;
     }
     @media screen and (max-width: 768px){
       h1{
         font-size: 50px;
       }
       h2{
         font-size: 30px;
       }
       .small-padding{
         padding-top: 20px;
         padding-bottom: 30px;
       }
       .card.icon{
         max-width: 200px;
         margin-left: auto;
         margin-right: auto;
       }
       .small-margin{
         margin-bottom: 20px;
         margin-top: 35px;
       }
       .repo{
         width: 15%;
       }
     }
</style>
  <body>
    <div class="about-section">
      <h1 style="text-align:center;">About</h1>
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2 offset-sm-0 col-sm-12">
            <p style="text-align:justify;">The Wireless Sleep Monitor (WSM) is a non-contact device used
              for measuring a user's heart rate and respiration rate over a period of sleep. Using a millimeter-wave radar on the XWR1843 EVM Board from Texas Instruments,
              the WSM collects signals from body displacement during sleep and records the processed data. Heart rate and respiration rate data is tracked and stored for user
              display through the WSM web application. Through the web application, a user can view a graphical visualization of a particular night's sleep, calculated analytics
              of their sleep, and record any disruptions themselves. Overall, the device acts as a novel, nonintrusive system to record and display sleeping vitals to a user. A link
              to the code repository is found at the bottom of the page.
            </p>
          </div>
        </div>
      </div>

      <p class="pt-50 pb-100 small-padding" style="text-aligned:center;">&#8226 &#8226 &#8226</p>
    </div>

  <div class="large-container">
    <h2 style="text-align:center;color:#FFFFFF;margin-bottom:30px">Development Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src = "{% static 'admin/img/about/brooke.jpg' %}" alt="Brooke Paxman" style="width:100%">
          <div class="container">
            <h2 style="font-size:20px;color:#0E0B2B">Brooke Paxman</h2>
            <p class="title">ECE &#8226 Software Engineering and Design</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="{% static 'admin/img/about/david-lok.jpg' %}" alt="David Lok" style="width:100%">
          <div class="container">
            <h2 style="font-size:20px;color:#0E0B2B">David Lok</h2>
            <p class="title">ECE &#8226 Software Engineering and Design</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="{% static 'admin/img/about/kayla.jpg' %}" alt="Kayla Tran" style="width:100%">
          <div class="container">
            <h2 style="font-size:20px;color:#0E0B2B">Kayla Tran</h2>
            <p class="title">ECE &#8226 Software Engineering and Design</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="{% static 'admin/img/about/rabia.jpg' %}" alt="Rabia Khan" style="width:100%">
          <div class="container">
            <h2 style="font-size:20px;color:#0E0B2B">Rabia Khan</h2>
            <p class="title">ECE &#8226 Software Engineering and Design</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="card">
          <img src="{% static 'admin/img/about/adam.jpg' %}" alt="Adam Ali" style="width:100%">
            <div class="container">
              <h2 style="font-size:20px;color:#0E0B2B">Adam Ali</h2>
              <p class="title">ECE &#8226 Embedded Systems and Computer Architecture</p>
            </div>
          </div>
        </div>

      <div class="column">
        <div class="card">
          <img src="{% static 'admin/img/about/andrew.jpg' %}" alt="Andrew Han" style="width:100%">
            <div class="container">
              <h2 style="font-size:20px;color:#0E0B2B">Andrew Han</h2>
              <p class="title">ECE &#8226 Electronics and Integrated Circuits</p>
            </div>
          </div>
        </div>

      <div class="column">
        <div class="card">
          <img src="{% static 'admin/img/about/Nithanth.jpg' %}" alt="Nithanth Ram" style="width:100%">
            <div class="container">
              <h2 style="font-size:20px;color:#0E0B2B">Nithanth Ram</h2>
              <p class="title">ECE &#8226 Data Science and Information Processing</p>
            </div>
          </div>
        </div>
      </div>

      <h2 class="mb-30 mt-100 small-margin" style="text-align:center;color:#FFFFFF;">Tools</h2>
      <div class="row">
        <div class="column2">
          <div class="card icon">
            <img src="{% static 'admin/img/about/googlecloud.png' %}" alt="GCP Logo" style="width:100%">
          </div>
        </div>

        <div class="column2">
          <div class="card icon">
            <img src="{% static 'admin/img/about/Django.png' %}" alt="Django Logo" style="width:100%">
          </div>
        </div>

      <div class="column2">
        <div class="card icon">
          <img src="{% static 'admin/img/about/mysql.png' %}" alt="MySQL Logo" style="width:100%">
        </div>
      </div>

      <div class="column2">
        <div class="card icon">
          <img src="{% static 'admin/img/about/chartjs-logo.svg' %}" alt="Chartjs Logo" style="width:100%">
        </div>
      </div>

      <div class="column2">
        <div class="card icon">
          <img src="{% static 'admin/img/about/TI_hardware.png' %}" alt="Texas Instruments Radar" style="width:100%">
        </div>
      </div>
    </div>

      <h2 class="mb-30 mt-100 small-margin" style="text-align:center;color:#FFFFFF;">Sponsors</h2>
      <div class="row">
        <div class="column3">
          <div class="card">
            <img src="{% static 'admin/img/about/UT_ECE.png' %}" alt="UT ECE Logo" style="width:50%" align="middle">
          </div>
        </div>

        <div class="column3">
          <div class="card">
            <img src="{% static 'admin/img/about/TI.png' %}" alt="Texas Instruments Logo" style="width:50%" align="middle">
          </div>
        </div>
      </div>
      <h2 class="mb-30 mt-100 small-margin" style="text-align:center;color:#FFFFFF;">Repository</h2>
        <div class="repo">
          <a href="https://github.com/brookepaxman/wsm-app">
            <img class = "marginauto" src = "{% static 'admin/img/about/github.png' %}"alt="Repository Link" width="100%" align="middle">
          </a>
        </div>
  </div>

  </body>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript">
  $(".menu-lines").click(function(){
    $(".line-1").toggleClass("transform");
    $(".line-2").toggleClass("transform");
    $(".line-3").toggleClass("transform");
    $(".mobile-nav-content").toggleClass("show");
    $(".logout").toggleClass("transform");
  });
</script>

{% endblock %}
