{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/admin/css/style.css' %}">
<h1>Welcome to the Wireless Sleep Monitor App!</h1>
{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}

<p><a href="user_input/">Add Sleep Notes</a> </p>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit">
</form>

<p>{{txt}}</p>

  <div class="stats" style="display: flex">
      <ul id="timedata" style="font-size: 20px; color:#3d3d5c; font-family:calibri">
        <li style="list-style:none"><h3 style="color:#3d3d5c; font-family:calibri">Statistics</h3></li>
        {% for stat in analysis %}
          <h5>{{stat.date}}</h5>
          <li>Total time: {{stat.tst.hour}} hours and {{stat.tst.minute}} minutes</li>
          <li>Average HR: {{ stat.avgHR }}</li>
          <li>Average RR: {{ stat.avgRR }}</li>
          <li>Average HR Dip: {{ stat.avgHRdip }}</li>
          <li>Min HR: {{ stat.minHR }}</li>
          <li>Max HR: {{ stat.maxHR }}</li>
          <li>Min RR: {{ stat.minRR }}</li>
          <li>Max RR: {{ stat.avgRR }}</li>
          <li>Number of Sleep Disruptions: {{ stat.numSleepDisruptions }}</li>
        {% endfor %}
      </ul>
      <ul id="hrdata" style="font-size: 20px; color:#3d3d5c; font-family:calibri">
        <li style="list-style:none"><h3 style="color:#3d3d5c; font-family:calibri">Sleep Summary</h3></li>

        {% for stat in userinput %}
          <h5>{{stat.date}}</h5>
          <li>Sleep Quality: {{ stat.sleepQuality }}</li>
          <li>Sleep Disruptions: {{ stat.sleepDisruptions }}</li>
          <li>Sleep Notes: {{ stat.sleepNotes }}</li>
        {% endfor %}
      </ul>

      <canvas id="myChart" width="400" height="400"></canvas>
    
  </div>

