<script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
  </script>
<script>
  $(function(){
    $("#nav").load("{% static '/admin/embeds/nav.html' %}");
  });
</script>
<div id="nav"></div>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/admin/css/style.css' %}">
{{error}}
{%if stat%}
    <ul id="timedata" style="font-size: 20px; color:#3d3d5c; font-family:calibri">
        <li>Total time: {{stat.tst.hour}} hours and {{stat.tst.minute}} minutes and {{stat.tst.second}} seconds</li>
        <li>Average HR: {{ stat.avgHR }}</li>
        <li>Average RR: {{ stat.avgRR }}</li>
        <li>Average HR Dip: {{ stat.avgHRdip }}</li>
        <li>Min HR: {{ stat.minHR }}</li>
        <li>Max HR: {{ stat.maxHR }}</li>
        <li>Min RR: {{ stat.minRR }}</li>
        <li>Max RR: {{ stat.maxRR }}</li>
        <li>{{stat.sessionID}}</li>
        <li>{{stat.user}}</li>
        <li>Number of Sleep Disruptions: {{ stat.numSleepDisruptions }}</li>
    </ul>
{%else%}
    <p>This session doesn't exist</p>
{%endif%}
