{% load static %}

<script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
  </script>
<script>
  $(function(){
    $("#nav").load("{% static '/admin/embeds/nav.html' %}");
  });
</script>
<div id="nav"></div>
<h2 style="font-family:calibri; color:#3d3d5c">{{ user.user_name }}</h2>
<div class="stats" style="display: flex">
      <ul id="timedata" style="font-size: 20px; color:#3d3d5c; font-family:calibri">
        <li style="list-style:none"><h3 style="color:#3d3d5c; font-family:calibri">Time (s)</h3></li>
        {% for stat in user.stat_set.all %}
          <li>{{ stat.time }}</li>
        {% endfor %}
      </ul>
      <ul id="hrdata" style="font-size: 20px; color:#3d3d5c; font-family:calibri">
        <li style="list-style:none"><h3 style="color:#3d3d5c; font-family:calibri">Heart Rate</h3></li>

        {% for stat in user.stat_set.all %}
          <li>{{ stat.hr }}</li>
        {% endfor %}
      </ul>

      <ul id="rrdata" style="font-size: 20px; color:#3d3d5c; font-family:calibri">
        <li style="list-style:none"><h3 style="color:#3d3d5c; font-family:calibri">Respiration Rate</h3></li>

        {% for stat in user.stat_set.all %}
          <li>{{ stat.rr }}</li>
        {% endfor %}
      </ul>
  </div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
