{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/chartjs/dist/Chart.min.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js">

</script>
<h2 style="font-family:calibri; color:#3d3d5c">CSV statistics</h2>
<div class="stats" style="display: flex">
      <ul id="timedata" style="font-size: 20px; color:#3d3d5c; font-family:calibri">
        <li style="list-style:none"><h3 style="color:#3d3d5c; font-family:calibri">Time (s)</h3></li>
        {% for stat in latest_stats %}
          <li>{{ stat.time }}</li>
        {% endfor %}
      </ul>
      <ul id="hrdata" style="font-size: 20px; color:#3d3d5c; font-family:calibri">
        <li style="list-style:none"><h3 style="color:#3d3d5c; font-family:calibri">Heart Rate</h3></li>
        {% for stat in latest_stats %}
          <li>{{ stat.hr }}</li>
        {% endfor %}
      </ul>

      <ul id="rrdata" style="font-size: 20px; color:#3d3d5c; font-family:calibri">
        <li style="list-style:none"><h3 style="color:#3d3d5c; font-family:calibri">Respiration Rate</h3></li>
        {% for stat in latest_stats %}
          <li>{{ stat.rr }}</li>
        {% endfor %}
      </ul>
  </div>

  <div style="width:75%">
    <div class="chartjs-size-monitor">
      <div class="chartjs-size-monitor-expand"></div>
      <div class="chartjs-size-monitor-shrink"></div>
    </div>
    <canvas class="chartjs-render-monitor" style="display:block;" id="myChart" width="400" height="400"></canvas>
  </div>
  <script src="{% static '/chartjs/dist/Chart.js' %}"></script>
  <script>
    Chart.platform.disableCSSInjection = true;
    function newDate(days) {
      return moment().add(days, 'd').toDate();
    }
    function newDateString(days) {
      return moment().add(days, 'd').format();
    }
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
			type: 'line',
			data: {
				datasets: [{
					label: 'Dataset with string point data',
					backgroundColor: '#FF5733',
					borderColor: '#DA420F',
					fill: false,
					data: [{
						x: newDateString(0),
						y: 1
					}, {
						x: newDateString(2),
						y: 2
					}, {
						x: newDateString(4),
						y: 3
					}, {
						x: newDateString(5),
						y: 3
					}],
				}, {
					label: 'Dataset with date object point data',
					backgroundColor: '#4EB0E6',
					borderColor: '#1C92D3',
					fill: false,
					data: [{
						x: newDate(0),
						y: 4
					}, {
						x: newDate(2),
						y: 2
					}, {
						x: newDate(4),
						y: 2
					}, {
						x: newDate(5),
						y: 1
					}]
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: 'Chart.js Time Point Data'
				},
				scales: {
					xAxes: [{
						type: 'time',
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Date'
						},
						ticks: {
							major: {
								fontStyle: 'bold',
								fontColor: '#FF0000'
							}
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'value'
						}
					}]
				}
			}
		});
</script>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
