<!-- templates/polls/generate.html -->
{% extends 'template.html' %}

{% block title %}WSM | Generate{% endblock %}
{% block content %}

{% if not user.is_authenticated %}
  <p>You are not logged in. Please log in to see this page.</p>
  <a href="{% url 'login' %}">login</a>
{% else %}
  Hi {{ user.username }}!
  <p><a href="/">Home</a></p>

  <p><a href="{% url 'logout' %}">logout</a></p>

  <!-- <p><a href="">See all</a> </p> -->

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Generate Stat Objects">
  </form>
  {{test}}
{% endif %}
{% endblock %}
