<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WSM</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{% static '/admin/favicon_io/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/admin/favicon_io/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/admin/favicon_io/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static '/admin/favicon_io/site.webmanifest' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/admin/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/admin/css/style.css' %}">
  <meta http-equiv="refresh" content="30" />
  <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous">
    </script>
  <script>
    $(function(){
      $("#nav").load("{% static '/admin/embeds/nav.html' %}");
    });
  </script>
  <div id="nav"></div>
</head>
<body>
<div class="container mt-20">
  {% block content %}
  {% if user.is_authenticated %}
    Hi, {{ user.username }}!
    <p><a href="{% url 'logout' %}">logout</a></p>
    <a href="/line-chart" class="outline-btn" style="text-decoration: none;">View my data</a>
    <a href="/analysis" class="outline-btn" style="text-decoration: none;">View Analytics</a>
    <a href="/generate" class="outline-btn" style="text-decoration: none;">Generate Objects</a>
  {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
  {% endif %}
  {% endblock %}

      {% if latest_stats %}

        {% else %}
          <p>No stats are available.</p>
        {% endif %}
      </div>

    </div>


</body>
</html>
