{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/chartjs/dist/Chart.min.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<h2 style="font-family:calibri; color:#3d3d5c">CSV statistics loaded in Ajax!</h2>
<!-- <div class="stats" style="display: flex">
      <ul id="timedata" style="font-size: 20px; color:#3d3d5c; font-family:calibri">
        <li style="list-style:none"><h3 style="color:#3d3d5c; font-family:calibri">Time (s)</h3></li>
        {% for stat in latest_stats %}
          <li>{{ stat.time }}</li>
        {% endfor %}
      </ul>
      <ul id="hrdata" style="font-size: 20px; color:#3d3d5c; font-family:calibri">
        <li style="list-style:none"><h3 style="color:#3d3d5c; font-family:calibri">Heart Rate</h3></li>
        {% for stat in latest_stats %}
          <li>{{ stat.hr }}</li>
        {% endfor %}
      </ul>

      <ul id="rrdata" style="font-size: 20px; color:#3d3d5c; font-family:calibri">
        <li style="list-style:none"><h3 style="color:#3d3d5c; font-family:calibri">Respiration Rate</h3></li>
        {% for stat in latest_stats %}
          <li>{{ stat.rr }}</li>
        {% endfor %}
      </ul>
  </div> -->

  <div style="width:75%">
    <div class="chartjs-size-monitor">
      <div class="chartjs-size-monitor-expand"></div>
      <div class="chartjs-size-monitor-shrink"></div>
    </div>
    <canvas class="chartjs-render-monitor" style="display:block;" id="myChart" width="400" height="400"></canvas>
  </div>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
  <script src="{% static '/chartjs/dist/Chart.js' %}"></script>
  <script type="text/javascript">
    var endpoint = '/dummys/?format=json'
    $.ajax({
      method: "GET",
      url: endpoint,
      success: function(data){
        console.log(data)
      },
      error: function(error_data) {
        console.log("error")
        console.log(error_data)
      }
    })
    Chart.platform.disableCSSInjection = true;
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart (ctx, {
      type: 'line',
      data: {
        labels: [{% for d in data %} "{{ d.time }}", {% endfor %}],
        datasets: [{
          label: 'Heart Rate',
          data: [{% for d in data %} "{{ d.hr }}", {% endfor %}]
        }, {
          label: 'Respiration Rate',
          data: [{% for d in data %} "{{ d.rr }}", {% endfor %}]
        }]
      }
    });
</script>
