{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/chartjs/dist/Chart.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/admin/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/admin/css/style.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

<style>
  h2 {
    color: #ffffff;
  }
  body {
    background-color: #2F4454;
  }
</style>

  <div class="nav">
    <h2 style="margin-left: 50px; margin-top: auto; margin-bottom: auto;">Your Statistics</h2>
    <a style="margin-top: 13px; margin-bottom: 13px; margin-right: 50px;" href="/" class="fill-btn">Home</a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center" style="color: white; margin-top: 80px;">
        <a id="today" href="#" class="fill-btn chosen">today</a>
        <a id="week" href="#" class="fill-btn">week</a>
        <a id="month" href="#" class="fill-btn">month</a>
      </div>
      <div class="col-md-9" style = "margin-top: 60px">
        <canvas class="chart-style" id="myChart" width="400" height="400"></canvas>
        <canvas class="chart-style hidden" id="myChart2" width="400" height="400"></canvas>
        <canvas class="chart-style hidden" id="myChart3" width="400" height="400"></canvas>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
  <script src="{% static '/chartjs/dist/Chart.js' %}"></script>
  <script type="text/javascript">
    var endpoint = '/api/stats/?format=json'
    $.ajax({
      method: "GET",
      url: endpoint,
      success: function(data){
        var labels = [];
        var hrData = [];
        var rrData = [];
        data.forEach(function(stat) {
          labels.push(stat.time);
          hrData.push(stat.hr);
          rrData.push(stat.rr);
        });
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart (ctx, {
          type: 'line',
          data: {
            labels: labels,
            datasets: [{
              label: 'Heart Rate',
              data: hrData,
              borderColor: '#376e6f',
              fill: false
            }, {
              label: 'Respiration Rate',
              data: rrData,
              borderColor: '#da7b93',
              fill: false
            }]
          },
          options: {
            scales:{
              yAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: 'Beats/Breaths Per Second',
                  fontFamily: 'calibri',
                  fontSize: 16
                }
              }],
              xAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: 'Time',
                  fontFamily: 'calibri',
                  fontSize: 16
                }
              }]
            },
            title: {
              display: true,
              text: "Today's HR and RR over time"
            }
          }
        });
      },
      error: function(error_data) {
        console.log("error")
        console.log(error_data)
      }
    });

    var endpoint2 = '/api/analysis/?format=json'
    $.ajax({
      method: "GET",
      url: endpoint2,
      success: function(data){
        var sessionDate = [];
        var avgHRdata = [];
        var avgRRdata = [];
        data.forEach(function(stat) {
          sessionDate.push(stat.sessionID.startDate);
          avgHRdata.push(stat.avgHR);
          avgRRdata.push(stat.avgRR);
        });
        var ctx2 = document.getElementById('myChart2').getContext('2d');
        var myChart2 = new Chart (ctx2, {
          type: 'line',
          data: {
            labels: sessionDate,
            datasets: [{
              label: 'Average Heart Rate',
              data: avgHRdata,
              borderColor: '#376e6f',
              fill: false,
            }, {
              label: 'Average Respiration Rate',
              data: avgRRdata,
              borderColor: '#da7b93',
              fill: false,
            }]
          },
          options: {
            title: {
              display: true,
              text: 'Average HR and RR over a week'
            }
          }
        });
      },
      error: function(error_data) {
        console.log("error")
        console.log(error_data)
      }
    });

    var endpoint3 = '/api/month?format=json'
    $.ajax({
      method: "GET",
      url: endpoint3,
      success: function(data){
        var labels = [];
        var hrData = [];
        var rrData = [];
        data.forEach(function(stat) {
          labels.push(stat.sessionID.startDate);
          hrData.push(stat.avgHR);
          rrData.push(stat.avgRR);
        });
        var ctx3 = document.getElementById('myChart3').getContext('2d');
        var myChart3 = new Chart (ctx3, {
          type: 'bar',
          data: {
            labels: labels,
            datasets: [{
              label: 'Heart Rate',
              data: hrData,
              backgroundColor: 'rgba(55,110,111,0.4)',
              fill: false
            }, {
              data: hrData,
              label: 'HR Line',
              borderColor: '#376e6f',
              fill: false,
              type: 'line'
            }, {
              label: 'Respiration Rate',
              data: rrData,
              backgroundColor: 'rgba(218,123,147,0.4)',
              fill: false
            }, {
              label: 'RR Line',
              data: rrData,
              borderColor: '#da7b93',
              fill: false,
              type: 'line'
            }]
          },
          options: {
            scales:{
              yAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: 'Average Beats/Breaths Per Second',
                  fontFamily: 'calibri',
                  fontSize: 16
                }
              }],
              xAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: 'Day',
                  fontFamily: 'calibri',
                  fontSize: 16
                }
              }]
            },
            title: {
              display: true,
              text: "This month's HR and RR over time"
            }
          }
        });
      },
      error: function(error_data) {
        console.log("error")
        console.log(error_data)
      }
    });

    $("#today").click(function() {
      if($("#myChart").hasClass("hidden")) {
        $("#myChart").removeClass("hidden");
      }
      $("#myChart2").addClass("hidden");
      $("#myChart3").addClass("hidden");
      if(! $(this).hasClass("chosen") ) {
        $(this).addClass("chosen");
      }
      if( $("#month").hasClass("chosen")) {
        $("#month").removeClass("chosen");
      }
      if($("#week").hasClass("chosen")) {
        $("#week").removeClass("chosen");
      }
    });
    $("#week").click(function() {
      if($("#myChart2").hasClass("hidden")) {
        $("#myChart2").removeClass("hidden");
      }
      $("#myChart").addClass("hidden");
      $("#myChart3").addClass("hidden");
      if(! $(this).hasClass("chosen") ) {
        $(this).addClass("chosen");
      }
      if( $("#month").hasClass("chosen")) {
        $("#month").removeClass("chosen");
      }
      if($("#today").hasClass("chosen")) {
        $("#today").removeClass("chosen");
      }
    });
    $("#month").click(function() {
      if($("#myChart3").hasClass("hidden")) {
        $($("#myChart3").removeClass("hidden"));
      }
      $("#myChart2").addClass("hidden");
      $("#myChart").addClass("hidden");
      if(! $(this).hasClass("chosen") ) {
        $(this).addClass("chosen");
      }
      if( $("#week").hasClass("chosen")) {
        $("#week").removeClass("chosen");
      }
      if($("#today").hasClass("chosen")) {
        $("#today").removeClass("chosen");
      }
    });
  </script>

{% if queryset %}
  {% for statistic in queryset %}
    <p>{{statistic.sessionID.id}}</p>
  {% endfor %}
{% else %}
  <p>No stats are available.</p>
{% endif %}
