<!-- templates/polls/realtime.html -->
{% extends 'template.html' %}

{% block title %}WSM | Realtime{% endblock %}
{% block content %}

{% load static %}


{% if user.is_authenticated %}
  <h2 class="text-center" style="margin-bottom: 0;">Hi, {{ user.username }}!</h2>
  <p class="text-center" style="margin-bottom: 30px;"><a href="{% url 'logout' %}">logout</a></p>
  <div class="subnav-container">
    <a href="/graphs" class="outline-btn" style="margin-left: 0;">View my data</a>
    <a href="/analysis" class="outline-btn">View Analytics</a>
    <a href="/realtime" class="outline-btn active" style="margin-right: 0;">Real-time Display</a>
  </div>
{% else %}
  <h2 class="text-center mt-50" style="margin-bottom: 0">You are not logged in</h2>
  <p class="text-center" style="margin-bottom: 30px;"><a href="{% url 'login' %}">login</a></p>
{% endif %}

  {% if latest_stat %}
  <div class="stats" style="display: flex">
      <ul id="timedata" style="font-size: 20px; color:#3d3d5c; font-family:calibri">
        <li style="list-style:none"><h3 style="color:#3d3d5c; font-family:calibri">Time (s)</h3></li>
        <li>Heart Rate: {{ latest_stat.hr }} bpm</li>
        <li>Respiration Rate: {{ latest_stat.rr}} rpm</li>
      </ul>
      <canvas id="myChart" width="400" height="400"></canvas>
    {% else %}
      <p>Please start your WSM device to view your real-time vital signs measurements.</p>
    {% endif %}
  </div>
{% endblock %}
