{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/admin/css/style.css' %}">
<h1>Welcome to the Wireless Sleep Monitor App!</h1>
{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}

<p><a href="/analysis/">Back to analysis</a> </p>

<div class="forms">
    <h3>Add some notes about your sleep: </h3>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit">
    </form>

</div>
