<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Analysis</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{% static '/admin/favicon_io/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/admin/favicon_io/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/admin/favicon_io/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static '/admin/favicon_io/site.webmanifest' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/admin/css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/admin/css/bootstrap.css' %}">

  <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous">
    </script>
  <script>
    $(function(){
      $("#nav").load("{% static '/admin/embeds/nav.html' %}");
    });
  </script>
  <div id="nav"></div>
</head>
<body>
  <div class="container mt-20">

{% if not user.is_authenticated %}
  <p>You are not logged in. Please log in to see this page.</p>
  <a href="{% url 'login' %}">login</a>
{% else %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a><br>

  <a href="/analysis/" class="fill-btn" style="margin: 0; text-decoration: none;">Back to Analysis</a></p>

  {%if analysis%}
    <div class="stats" >
      <h2>{{s.startDate}}, {{s.startTime}}</h2>
        <ul id="timedata" style="font-size: 20px; color:#3d3d5c; font-family:calibri">
          {% for stat in analysis %}
            <h3>Statistics</h3>
            <li>Total time: {{stat.tst.hour}} hours and {{stat.tst.minute}} minutes</li>
            <li>Average HR: {{ stat.avgHR }}</li>
            <li>Average RR: {{ stat.avgRR }}</li>
            <li>Average HR Dip: {{ stat.avgHRdip }}</li>
            <li>Min HR: {{ stat.minHR }}</li>
            <li>Max HR: {{ stat.maxHR }}</li>
            <li>Min RR: {{ stat.minRR }}</li>
            <li>Max RR: {{ stat.avgRR }}</li>
            <h3>Sleep Notes</h3>
            {%if stat.sleepQuality == 0%}
              <p>no sleep notes</p>
            {%else%}
              <li>Sleep Quality: {{ stat.sleepQuality }}</li>
              <li>Sleep Disruptions: {{ stat.sleepDisruptions }}</li>
              <li>Sleep Notes: {{ stat.sleepNotes }}</li>
              <li>Number of Sleep Disruptions: {{ stat.numSleepDisruptions }}</li>
            {%endif%}
          {% endfor %}
        </ul>
    </div>

    <div class="forms">
      <h3>Add or edit some notes about your sleep: </h3>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
      </form>
    </div>
  {%else%}
    <p>no stats</p>
  {%endif%}
{% endif %}
</div>
</body>
</html>