body {
  margin: 0;
  background-color: #0E0B2B;
  color: #ffffff;
}
h1 {
  font-size: 40px;
  text-align:center;
  color:#ffffff;
  font-weight:600;
  font-family: calibri;
}

h2 {
  font-family: calibri;
  color:#ffffff;
}

.chart-style {
  background-color: #ffffff;
  display:block;
  max-width: 600px;
  box-shadow: 0 0 7px #e5e5e5;
  max-height:600px;
  margin-bottom: 20px;
}

.nav {
  height: 60px;
  width: 100%;
  background-color: #1c3334;
}

.fill-btn {
  color: #ffffff;
  padding: 3px 17px;
  background-color: #007bff;
  border-radius: 5px;
  border: 1px solid white;
  display: block;
  width: fit-content;
  margin: 10px auto;
  font-weight: bold;
}

.fill-btn.chosen {
  color: #da7b93;
  background-color: #ffffff;
  border: 1px solid #da7b93;
}

a.fill-btn:hover {
  text-decoration: none;
  color: #007bff;
  background-color: #ffffff;
  border: solid 1px #007bff;
  font-weight: bold;
}

a.fill-btn.chosen:hover {
  text-decoration: none;
  color: #da7b93;
  border: 1px solid #da7b93;
  background-color: #e5e5e5;
}

.outline-btn {
  border-radius: 5px;
  padding: 3px 17px;
  color: #007bff;
  background-color: transparent;
  border: solid 1px #007bff;
  width: fit-content;
  margin: 10px;
  font-weight: bold;
}

a.outline-btn:hover {
  text-decoration: none;
  color: #ffffff;
  border: solid 1px #ffffff;
  font-weight: bold;
}

.hidden {
  display: none !important;

}

.nav-container {
  height: 70px;
  background-color: #ecedf1;
  width: 100%;
}

.nav-container h1 {
  color: #ffffff;
  margin: 0;
  padding-top: 7px;
}

.subnav {
  border: 1px solid #ecedf1;
  height: 50px;
  width: 100%;
}

.text-center {
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
}

.nav-home {
  position: absolute;
  left: 30px;
  top: 9px;
}
