body {
  margin: 0;
  background-color: #0E0B2B;
  color: #ffffff;
}
h1 {
  font-size: 40px;
  text-align:center;
  color:#ffffff;
  font-weight:600;
}

h2 {
  color:#ffffff;
  font-size: 28px;
}

h3 {
  color:#03AAF2;
}

h4{
  color:white;

}

.chart-style {
  background-color: #ffffff;
  display:block;
  max-width: 600px;
  box-shadow: 0 0 7px #e5e5e5;
  max-height:600px;
  margin-bottom: 20px;
}

.nav {
  height: 60px;
  width: 100%;
  background-color: #1c3334;
}

.fill-btn {
  color: #0E0B2B;
  padding: 3px 17px;
  background-color: #007bff;
  border-radius: 5px;
  border: 2px solid #0E0B2B;
  display: block;
  width: fit-content;
  margin: 10px auto;
  font-weight: bold;
  text-decoration: none;
}

.fill-btn.chosen {
  color: #0E0B2B;
  background-color: #ffffff;
  border: 2px solid #0E0B2B;
}

a.fill-btn:hover {
  text-decoration: none;
  color: #0E0B2B;
  background-color: #ffffff;
  border: solid 2px #0E0B2B;
  font-weight: bold;
}

a.fill-btn.chosen:hover {
  text-decoration: none;
  color: #0E0B2B;
  border: 2px solid #0E0B2B;
  background-color: #e5e5e5;
}

.outline-btn {
  text-decoration: none;
  border-radius: 5px;
  padding: 5px 16px;
  color: #007bff;
  background-color: transparent;
  border: solid 2px #007bff;
  width: fit-content;
  margin: 10px;
  font-weight: bold;
}

a.outline-btn:hover {
  color: #0E0B2B;
  text-decoration: none;
  font-weight: bold;
  background-color: #007bff;
}

.hidden {
  display: none !important;

}

.nav-container {
  height: 80px;
  background-color: #ecedf1;
  width: 100%;
  display: flex;
}

.footer-container {
  height: 50px;
  background-color: #ecedf1;
  width: 100%;
}

.footer-container ul {
  list-style: none;
}

.footer-container ul li {
  margin-top: 11px;
  color: #0E0B2B;
}

.small-margin {
  margin-left: 6px;
  margin-right: 6px;
}

.footer-fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.mb-100 {
  margin-bottom: 100px;
}

.nav-container h1 {
  color: #ffffff;
  margin: 0;
  padding-top: 7px;
}

.subnav {
  border: 1px solid #ecedf1;
  height: 50px;
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.mt-20 {
  margin-top: 20px;
}

.nav-home {
  position: absolute;
  left: 30px;
  top: 9px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-10 {
  margin-top: 10px;
}

.tooltip-2 {
  position: relative;
  margin: auto;
  display: inline-block;
}

.tooltip-2 .tooltiptext-2 {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltip-2 .tooltiptext-2::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip-2:hover .tooltiptext-2 {
  visibility: visible;
}

.circles {
  margin-top: 40px;
  display: flex;
}
.circle-with-text {
  background: linear-gradient(blue, purple);
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  margin: 5px 20px;
  font-size: 30px;
  padding: 15px;
  display: flex;
  height: 130px;
  width: 130px;
  color: #fff;
}

#rcorners1 {
  margin: auto;
  text-align: center;
  font-size: 30px;
  border-radius: 25px;
  background:  #B775FD;
  padding: 15px 20px 20px 70px;
  width: 500px;
  height: 75px;
}

#rcorners2 {
  margin: auto;
  text-align: center;
  font-size: 20px;
  border-radius: 25px;
  background:  #B775FD;
  padding: 20px;
  width: 275px;
  height: 150px;
}
.nav-container ul li {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
  font-weight: 600;
}

.nav-container ul {
  list-style: none;
  padding-top: 25px;
  width: fit-content;
  margin-left: auto;
  margin-right: 25px;
}

.nav-container img {
  margin-top: -10px;
  margin-left: 50px;
}


.flex {
  display: flex;
}

.hide{
  display: none;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

select {
  color: #0E0B2B;
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  margin: 0;
  font-weight: bold;
  text-align: center;
  background-color: #007bff;
  padding: 4px 6px;
  border-radius: 3px;
}

select.month:hover {
  background-color: #ffffff;
}

select.month.chosen {
  color: #0E0B2B;
  background-color: #ffffff;
  border: 2px solid #0E0B2B;
}

select.month.chosen:hover {
  text-decoration: none;
  color: #0E0B2B;
  border: 2px solid #0E0B2B;
  background-color: #e5e5e5;
}

select.session:hover {
  background-color: #ffffff;
}

select.session.chosen {
  color: #0E0B2B;
  background-color: #ffffff;
  border: 2px solid #0E0B2B;
}

select.session.chosen:hover {
  text-decoration: none;
  color: #0E0B2B;
  border: 2px solid #0E0B2B;
  background-color: #e5e5e5;
}

label {
  display: block;
}

option {
  background-color: #f9f9f9;
  color: #0E0B2B;
  border-radius: 3px;
}

.dropdown {
  background-color: #f9f9f9;
  overflow: hidden;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.text-left {
  text-align: left;
}

.dropdown .dropbtn {
  padding: 3px 14px;
  color: #0E0B2B;
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  margin: 0;
  font-weight: bold;
  text-align: center;
  background-color: #007bff;
}

.dropdown .dropbtn:hover {
  background-color: #ffffff;
}

.dropdown {
  border-radius: 5px;
}

.big-h1 {
  font-size: 72px;
}

.big-h3 {
  font-size: 18px;
  color: #a3a1b4;
  font-weight: normal;
}

#mid-header {
  font-size: 32px;
  color: #ffffff;
}

.home-number {
  font-size: 64px;
  color: #007bff;
  display: inline;
}

.home-text {
  font-size: 28px;
  color: #ffffff;
  display: inline;
  padding-right: 5px;
}

.mt-40 {
  margin-top: 40px;
}

.grey-block {
  background-color: #242630;
  height: 515px;
  position: relative;
}

.vertical-center {
  position: absolute;
  top: 50%;
  height: 350px;
  margin-top: -185px;
  width: 100%;
}
.sleep-time-box {
  padding: 15px;
  border-radius: 3px;
  background-color: #ecedf1;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.subnav-container {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.margin-auto{
  margin-right: auto;
  margin-bottom: auto;
}

.mb-40 {
  margin-bottom: 40px;
}

.text-right{
  text-align: right;
}

.mr-20 {
  margin-right: 20px;
}

.mt-50 {
  margin-top: 50px;
}

.outline-btn.active {
  border: solid 2px #ffffff;
  color: #ffffff;
}
.outline-btn.active:hover {
  border: solid 2px #007bff;
}

.note {
  background-color: #B775FD;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  height: 200px;
  width: 100%;
  max-width: 275px;
  padding: 15px;
  overflow-y: scroll;
}

.mb-60 {
  margin-bottom: 60px;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.nav-link-txt {
  font-size: 16px;
}

.sub-row {
  display: flex;
  margin-top: 50px;
}
.sub-row h2 {
  top: -7px;
  position: relative;
  left: 50px;
}
.sub-row p {
  position: relative;
  top: -3px;
  font-size: 18px;
  right: 50px;
  font-weight: 600;
}
.sub-row a {
  font-size: 14px;
}

.text-box{
  padding: 20px;
  border: 1px solid white;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.loading{
  position: absolute;
  left: 165px;
  top: 180px;
}

.loading img {
  width: 300px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #0E0B2B;
  font-weight: bold;
}

.select2-container--default .select2-selection--single {
  background-color: #007bff;
  border: none;
}

.select2-container {
  border: 2px solid #0E0B2B;
}

.select2-dropdown {
  color: #0E0B2B;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #0E0B2B transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #0E0B2B transparent;
}
