body {
  margin: 0;
  background-color: #0E0B2B;
  color: #ffffff;
}
h1 {
  font-size: 40px;
  text-align:center;
  color:#ffffff;
  font-weight:600;
  font-family: Calibri;
}

h2 {
  font-family: calibri;
  color:#ffffff;
}

.chart-style {
  background-color: #ffffff;
  display:block;
  max-width: 600px;
  box-shadow: 0 0 7px #e5e5e5;
  max-height:600px;
  margin-bottom: 20px;
}

.nav {
  height: 60px;
  width: 100%;
  background-color: #1c3334;
}

.fill-btn {
  color: #0E0B2B;
  padding: 3px 17px;
  background-color: #007bff;
  border-radius: 5px;
  border: 2px solid #0E0B2B;
  display: block;
  width: fit-content;
  margin: 10px auto;
  font-weight: bold;
  text-decoration: none;
}

.fill-btn.chosen {
  color: #0E0B2B;
  background-color: #ffffff;
  border: 2px solid #0E0B2B;
}

a.fill-btn:hover {
  text-decoration: none;
  color: #0E0B2B;
  background-color: #ffffff;
  border: solid 2px #0E0B2B;
  font-weight: bold;
}

a.fill-btn.chosen:hover {
  text-decoration: none;
  color: #0E0B2B;
  border: 2px solid #0E0B2B;
  background-color: #e5e5e5;
}

.outline-btn {
  text-decoration: none;
  border-radius: 5px;
  padding: 5px 16px;
  color: #007bff;
  background-color: transparent;
  border: solid 2px #007bff;
  width: fit-content;
  margin: 10px;
  font-weight: bold;
}

a.outline-btn:hover {
  text-decoration: none;
  color: #ffffff;
  border: solid 2px #ffffff;
  font-weight: bold;
}

.hidden {
  display: none !important;

}

.nav-container {
  height: 70px;
  /* background-color: #ecedf1; */
  background-color: #0c1962;
  width: 100%;
}

.nav-container h1 {
  color: #ffffff;
  margin: 0;
  padding-top: 7px;
}

.subnav {
  border: 1px solid #ecedf1;
  height: 50px;
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.mt-20 {
  margin-top: 20px;
}

.nav-home {
  position: absolute;
  left: 30px;
  top: 9px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-10 {
  margin-top: 10px;
}

.tooltip-2 {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip-2 .tooltiptext-2 {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-2:hover .tooltiptext-2 {
  visibility: visible;
}

.nav-container ul li {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
  font-weight: 600;
}

.nav-container ul {
  list-style: none;
  padding-top: 20px;
}

.flex {
  display: flex;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

select {
  color: #0E0B2B;
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  margin: 0;
  font-weight: bold;
  text-align: center;
  background-color: #007bff;
  padding: 4px 6px;
  border-radius: 3px;
}

select.month:hover {
  background-color: #ffffff;
}

select.month.chosen {
  color: #0E0B2B;
  background-color: #ffffff;
  border: 2px solid #0E0B2B;
}

select.month.chosen:hover {
  text-decoration: none;
  color: #0E0B2B;
  border: 2px solid #0E0B2B;
  background-color: #e5e5e5;
}

label {
  display: block;
}

option {
  background-color: #f9f9f9;
  color: #0E0B2B;
  border-radius: 3px;
}

.dropdown {
  background-color: #f9f9f9;
  overflow: hidden;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.text-left {
  text-align: left;
}

.dropdown .dropbtn {
  padding: 3px 14px;
  color: #0E0B2B;
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  margin: 0;
  font-weight: bold;
  text-align: center;
  background-color: #007bff;
}

.dropdown .dropbtn:hover {
  background-color: #ffffff;
}

.dropdown {
  border-radius: 5px;
}

.big-h1 {
  font-size: 72px;
}

.big-h3 {
  font-size: 18px;
  color: #a3a1b4;
  font-weight: normal;
}

#mid-header {
  font-size: 32px;
  color: #ffffff;
}

.home-number {
  font-size: 64px;
  color: #00ffff;
  display: inline;
}

.home-text {
  font-size: 28px;
  color: #ffffff;
  display: inline;
  padding-right: 5px;
}

.grey-block {
  background-color: #242630;
  height: 450px;
  position: relative;
}

.vertical-center {
  position: absolute;
  top: 50%;
  height: 350px;
  margin-top: -185px;
  width: 100%;
}